<div class='clearfix'>
  <div class='pull-left'>
    <h1>Posts</h1>
  </div>
  <div class='pull-right'>
    <%= link_to 'New Post', new_post_path, :class => "btn btn-primary"%>
  </div>
</div>
<hr/>
<%= render :partial => "post", :collection => @posts %>